@font-face {
  font-family: "great_vibes";
  src: url("../fonts/greatvibes-regular-webfont.woff2") format("woff2"), url("../fonts/greatvibes-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory; }

body {
  scroll-snap-type: y mandatory;
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

#carousel-1 {
  background-image: url("../images/4.jpg");
  background-size: cover;
  flex: 1;
  height: 100%;
  background-position-x: right;
  font-family: "great_vibes";
  font-size: 16vw;
  color: black;
  text-shadow: 1px 1px 5px violet;
  display: flex;
  align-items: flex-end;
  text-align: center;
  flex-direction: column;
  justify-content: flex-end; }
  #carousel-1 #names {
    font-size: 4vw;
    color: black;
    font-family: sans-serif;
    padding: 0; }
  #carousel-1 #accept {
    padding: 0; }
  @media only screen and (min-width: 1000px) {
    #carousel-1 {
      font-size: 10vw; } }
  #carousel-1 > span {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5vh 2vw;
    width: 100%; }
  @media only screen and (max-width: 549px) {
    #carousel-1 {
      background-position-x: -75vw; } }
  @media only screen and (max-width: 525px) {
    #carousel-1 {
      background-position-x: -267vw; } }
  @media only screen and (max-width: 515px) {
    #carousel-1 {
      background-position-x: -275vw; } }
  @media only screen and (max-width: 490px) {
    #carousel-1 {
      background-position-x: -295vw; } }
  @media only screen and (max-width: 475px) {
    #carousel-1 {
      background-position-x: -94vw; } }
  @media only screen and (max-width: 445px) {
    #carousel-1 {
      background-position-x: -100vw; } }
  @media only screen and (max-width: 415px) {
    #carousel-1 {
      background-position-x: -114vw; } }
  @media only screen and (max-width: 395px) {
    #carousel-1 {
      background-position-x: -118vw; } }
  @media only screen and (max-width: 375px) {
    #carousel-1 {
      background-position-x: -130vw; } }
  @media only screen and (max-width: 365px) {
    #carousel-1 {
      background-position-x: -134vw; } }
  @media only screen and (max-width: 335px) {
    #carousel-1 {
      background-position-x: -157vw; } }
  @media only screen and (max-width: 300px) {
    #carousel-1 {
      background-position-x: -171vw; } }
  @media only screen and (max-width: 300px) {
    #carousel-1 {
      background-position-x: -181vw; } }

#carousel-2 {
  background-image: url("../images/1.jpg");
  background-size: cover;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-position-x: center;
  background-position-y: -100px;
  position: relative; }
  @media only screen and (max-width: 1368px) {
    #carousel-2 {
      background-position-y: top; } }
  #carousel-2 #wrapper {
    background-color: rgba(255, 255, 255, 0.7);
    height: 90%;
    width: 90%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px; }
    #carousel-2 #wrapper #title {
      font-family: "great_vibes";
      font-size: 6vw;
      text-align: center; }
      @media only screen and (max-width: 400px) {
        #carousel-2 #wrapper #title {
          font-size: 10vw; } }
    #carousel-2 #wrapper #text-1 {
      font-size: 3vw;
      text-align: center;
      font-family: sans-serif;
      font-weight: lighter; }
      @media only screen and (max-width: 460px) {
        #carousel-2 #wrapper #text-1 {
          font-size: 5vw; } }
    #carousel-2 #wrapper #date-and-time {
      display: flex;
      flex-direction: column; }
      #carousel-2 #wrapper #date-and-time #date {
        font-size: 7vw;
        text-align: center; }
        @media only screen and (max-width: 390px) {
          #carousel-2 #wrapper #date-and-time #date {
            font-size: 10vw; } }
      #carousel-2 #wrapper #date-and-time #time {
        font-size: 4vw;
        text-align: center; }
        @media only screen and (max-width: 390px) {
          #carousel-2 #wrapper #date-and-time #time {
            font-size: 7vw; } }

#carousel-3 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: beige; }
  #carousel-3 #map {
    width: 90%;
    height: 90%; }
